body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

.App {
  text-align: center;
}

.center-text {
  text-align: center;
}

.div-padding-top{
  padding-top: 5% !important;
}
.center-div{
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  margin-bottom: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.body-div {
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  padding-top: 3%;
  text-align: center;
}

.center {
  /* text-align: left; */
  width: 600px;
  background-color: #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
